@font-face {
  font-family: Cloud;
  src: url('./fonts/Cloud-Light.otf') format('opentype');
}

@font-face {
  font-family: Cloud;
  font-weight: bold;
  src: url('./fonts/Cloud-Bold.otf') format('opentype');
}

@font-face {
  font-family: PeaceSans;
  src: url('./fonts/Peace-Sans.otf') format('opentype');
}

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cloud;
  --collapse-size: 16em;
}
